* {
  font-family: 'cairo', sans-serif;
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

#content {
  padding: 20px;

  width: 100%;
  height: 100%;
  background-image: url(img/COVER.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;


}

#navbar #nav-left {
  margin-left: 20px;

}

#navbar #nav-left a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
/*
#nav-raigt #search-r input{
  padding: 12px;
  border: none;
  background-color: #21232b;
  border-radius: 40px;
  width: 200px;
  border: solid maroon 1px;
  color: #fff;
  font-size: 14px;

}*/


#navbar #nav-center a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: 0.4s;
}

#navbar #nav-center a:hover {
  color: maroon;
}

#nav-raigt {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-raigt span {
  margin-right: 14px;
  cursor: pointer;
  font-size: 33px;
  color: #fff;
}

#nav-raigt select {
  background: none;
  color: #fff;
  margin-right: 14px;
  font-size: 18px;
  transition: 0.4s;
}

#nav-raigt select:hover {
  color: maroon;
}

#nav-raigt button {
  background: none;
  border: none;
  padding: 15px;
  font-size: 15px;
  width: 160px;
  color: #fff;
  border-radius: 35px;
  border: solid maroon 3px;
  transition: 0.4s;
}

#nav-raigt button:hover {
  background: maroon;
  color: #fff;
}

#center {
  padding: 250px 30px;
}

#center h2 {
  font-size: 28px;
  color: maroon;
  font-weight: 700px;
}

#center h1 {
  font-size: 33px;
  color: #fff;
  font-weight: 600px;
}

#center h1 span {
  font-size: 33px;
  color: maroon;
  font-weight: 600px;
}

#center button {
  background: none;
  border: none;
  padding: 9px;
  font-size: 15px;
  width: 130px;
  color: #fff;
  border-radius: 35px;
  border: solid maroon 3px;
  font-weight: 700px;
  transition: 0.4s;
  cursor: pointer;
}

#center button:hover {
  background: maroon;
  color: #fff;
}


/*********************************section2***********************************************/  




#main-poster {
  padding: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(img/backgraound.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#title {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-left: 130px;
  display: flex;
  justify-content: space-between;
}

#title-left p{
font-size: 20px;
font-weight: 600;
color: maroon;
}

#title-left h1{
  font-size: 40px;
  color:#fff;
  }



#card{
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 450px;
  border-radius: 14px;
}

#poster{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#poster img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 12px;
}

#datalest{
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1.5em 1.5em 2em;
  backdrop-filter: blur(16px);
  background-color: #0000009c;
  transition: 0.5s;
}

#card:hover #datalest{
  bottom: 0;
}

#datalest h1{
  color: #fff;
  font-size: 26px;
  font-weight: 800;
}

#datalest p{
  color: #fff;
}

#div-star{
  display: inline-block;
}

#div-star input{
  display: none;
}

#div-star label{
  float: right;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

#div-star label::before{
  content: '\2605';
  font-size: 30px;
}
#div-star input:checked ~ label,
#div-star label:hover,
#div-star label:hover ~ label{
  color: rgb(250, 146, 0);
  transition: 0.3s;
}

#datalest button{
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 9px;
  font-size: 13px;
  width: 170px;
  color: #fff;
  border-radius: 35px;
  border: solid maroon 3px;
  font-weight: 700px;
  transition: 0.4s;
  cursor: pointer;
}

#datalest button:hover{
  background-color: maroon;
  color: #fff;
}



/**********************************section3**********************************************/  




#live{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 110px ;
  width: 100%;
  height: 100%;
  background-image: url();
  background-repeat: no-repeat;
  background-position: top ;
}

#live #live-left #p1{
  color: maroon;
  font-size: 15px;
  font-weight: 600;
}

#live #live-left h1{
  font-size: 35px;
  color:maroon;
}

#live #live-left h1 {
  color:maroon;
  font-size: 25px;
  font-weight: 800;
}

#live #live-left h1 span{
  color:maroon;
  font-size: 30px;
  font-weight: 800;
}

#live #live-left button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 16px;
  font-size: 18px;
  width: 165px;
  color:black;
  border-radius: 35px;
  border:solid maroon 3px;
  font-weight: 700;
  transition: 0.4s;
  cursor: pointer;
}

#live #live-left button:hover{
  background: maroon;
  color: #fff;
  border: maroon solid 2px;
}

#live #live-r img{
  justify-content: right;
}


/**********************************section4**********************************************/  


#title2{ 
  width: 100%; 
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
} 

#title2 #div-h1-p p{ 
  font-size: 20px; 
  font-weight: 600; 
  color: maroon; 
  text-align: center; 
} 

#title2 #div-h1-p h1{ 
  font-size: 28px; 
  color: #fff; 
}






/********************************section5************************************************/  


#part5{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:20px;
  background-color: maroon;
}

.span link a{
  justify-content: center;
  align-items: center;
  
}


